<div class="container">
  <div class=row>
    <div class="col-md-6 col-md-offset-3">
      <div class="well bs-component">
        <!-- DOG OWNER CREATION ERROR ALERT -->
        <div *ngIf="showErrorMessage" class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>{{errorMessage}}</strong>
        </div>
        <!-- LOADING SPINNER -->
        <h1 *ngIf="sending" class="green center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </h1>
        <!-- DOG OWNER FORM -->
        <form class="form-horizontal" (ngSubmit)="onSubmit()">
          <fieldset>
            <legend class="margin-bottom-0">Create Dog Owner Account</legend>
            <br />
            <!-- CONTACT INFO -->
            <div *ngIf="!hasName">
              <h4>Contact Info</h4>
              <div class="form-group label-floating">
                <label for="inputFirstName" class="col-md-5 left control-label">First Name</label>

                <div class="col-md-10">
                  <input type="text" class="form-control" id="inputFirstName" required [(ngModel)]="firstName">
                  <form-errors [errors]="errors['firstName']"></form-errors>
                </div>
              </div>
              <div class="form-group label-floating">
                <label for="inputLastName" class="col-md-5 left control-label">Last Name</label>

                <div class="col-md-10">
                  <input type="text" class="form-control"
                         id="inputLastName" required [(ngModel)]="lastName">
                  <form-errors [errors]="errors['lastName']"></form-errors>
                </div>
              </div>
              <br />
            </div>
            <!-- END OF CONTACT INFO -->
            <h4>Address</h4>
            <!-- STREET1 -->
            <div class="form-group label-floating">
              <label for="inputStreet1" class="col-md-5 left control-label"><span>* </span>Street line 1</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="inputFirstName" required [(ngModel)]="street1">
                <form-errors [errors]="errors['street1']"></form-errors>
              </div>
            </div>
            <!-- STREET2 -->
            <div class="form-group label-floating">
              <label for="inputStreet2" class="col-md-5 left control-label">Street line 2</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="inputStreet2" [(ngModel)]="street2">
                <form-errors [errors]="errors['street2']"></form-errors>
              </div>
            </div>
            <!-- CITY -->
            <div class="form-group label-floating">
              <label for="inputCity" class="col-md-5 left control-label"><span>* </span>City</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="inputCity" required [(ngModel)]="city">
                <form-errors [errors]="errors['city']"></form-errors>
              </div>
            </div>
            <!-- STATE -->
            <div class="form-group label-floating">
              <label for="inputState" class="col-md-5 left control-label"><span>* </span>State/Province</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="inputState" required [(ngModel)]="state">
                <form-errors [errors]="errors['state']"></form-errors>
              </div>
            </div>
            <!-- COUNTRY -->
            <div class="form-group label-floating">
              <label for="inputCountry" class="col-md-5 left control-label"><span>* </span>Country</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="inputCountry" required [(ngModel)]="country">
                <form-errors [errors]="errors['country']"></form-errors>
              </div>
            </div>
            <!-- Zipcode -->
            <div class="form-group label-floating">
              <label for="inputZipcode" class="col-md-5 left control-label"><span>* </span>Zipcode</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="inputZipcode" required [(ngModel)]="zipcode">
                <form-errors [errors]="errors['zipcode']"></form-errors>
              </div>
            </div>
            <!-- Zipcode Plus 4 -->
            <div class="form-group label-floating">
              <label for="inputZipcodePlus" class="col-md-5 left control-label">Zipcode Plus 4 <span class="small"> (optional for US addresses)</span></label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="inputZipcodePlus" [(ngModel)]="zipcodePlus">
                <form-errors [errors]="errors['zipcode']"></form-errors>
              </div>
            </div>
            <button type="submit" class="btn btn-raised green-button">Submit</button>
          </fieldset>
        </form>
      </div>
      <!-- END OF DOG OWNER FORM -->
    </div>
  </div>
</div>
