/* COLOR */
.green {
  color: #009688;
}

.white {
  color: #fff !important;
}

.green-background {
  background-color: #009688 !important;
  color: #fff !important;
}

.facebook-button {
  background-color: #45619D !important;
  color: #fff !important;
}

.green-button {
  background-color: #009688 !important;
  color: #fff !important;
}

/* Alignment */

.center {
  text-align: center;
}

.left {
  text-align: left !important;
}

/* Margin */
.margin-top-0 {
  margin-top: 0px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-top-bottom-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* Padding */
.padding-0 {
  padding: 0 !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.ul-no-bullet {
  list-style-type: none;
}

