<div class="container">
  <div class=row>
    <div class="col-md-6 col-md-offset-3">
      <div class="well bs-component">
        <!-- REGISTRATION ERROR ALERT -->
        <div *ngIf="showErrorMessage" class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Oops there was a problem and the account couldn't be created. Please try again soon!</strong>
        </div>
        <div *ngIf="!submitted">
          <!-- LOADING SPINNER -->
          <h1 *ngIf="sending" class="green center">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </h1>
          <!-- REGISTER FORM -->
          <form class="form-horizontal"
                (ngSubmit)="onSubmit()" #registerForm="ngForm">
            <fieldset>
              <legend class="margin-bottom-0">Register</legend>
              <div class="form-group label-floating">
                <label for="inputEmail" class="col-md-2 left control-label">Email</label>

                <div class="col-md-10">
                  <input type="email" class="form-control"
                         id="inputEmail" required
                         [(ngModel)]="model.email" ngControl="email">
                  <form-errors [errors]="errors['email']"></form-errors>
                </div>
              </div>
              <div class="form-group label-floating">
                <label for="inputPassword" class="col-md-2 left control-label">Password</label>

                <div class="col-md-10">
                  <input type="password" class="form-control"
                         id="inputPassword" required
                         [(ngModel)]="model.password" ngControl="password">
                  <form-errors [errors]="errors['password']"></form-errors>
                </div>
              </div>
              <button type="submit" class="btn btn-raised green-button">Submit</button>
            </fieldset>
          </form>
          <h4>OR</h4>
          <facebook-connect></facebook-connect>
          <br/>
          <br/>
          <!-- LOGIN LINKS -->
          <login-links [page]="linksPage"></login-links>
        </div>
        <!-- END OF REGISTER FORM -->
        <!-- SUBMITTED CONFIRMATION -->
        <div *ngIf="submitted" class="center">
          <h1>Woof woof!</h1>
          <h1>Signup Successful!</h1>
          <br/>
          <p>You should now receive a confirmation email.</p>
          <p>Please click on the link in the email to confirm your account.</p>
        <div>
        <!-- END OF SUBMITTED CONFIRMATION -->
      </div>
    </div>
  </div>
</div>
