<div *ngIf="user">
  <h2>{{user.first_name}} {{user.last_name}} details!!!</h2>
  <div>
    <label>id:</label>
    {{user.id}}
  </div>
  <div>
    <label>First Name:</label>
    <div>
      <input [(ngModel)]="user.first_name" placeholder="First Name">
    </div>
  </div>
  <div>
    <label>Last Name:</label>
    <div>
      <input [(ngModel)]="user.last_name" placeholder="Last Name">
    </div>
  </div>
</div>
