<div class="container">
  <div class=row>
    <div class="col-md-6 col-md-offset-3">
      <div class="well bs-component">
        <!-- LOGOUT SUCCESS ALERT -->
        <div *ngIf="logoutSuccess" class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Logout Successful.</strong>
          <p>See you soon!</p>
        </div>
        <!-- UNAUTHORIZED ALERT -->
        <div *ngIf="unauthorized" class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Unauthorized.</strong>
          <p>Please sign in first.</p>
        </div>
        <!-- CONFIRMATION SUCCESS ALERT -->
        <div *ngIf="confirmationSuccess" class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Confirmation Success!.</strong>
          <p>You may now login to your account.</p>
          <p>If you were using the mobile app, you can now login there also.</p>
        </div>
        <!-- PASSWORD RESET SUCCESS ALERT -->
        <div *ngIf="passwordReset" class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Password Reset!.</strong>
          <p>You may now login to your account using your new password.</p>
          <p>If you were using the mobile app, you can now login there also.</p>
        </div>
        <div *ngIf="!submitted">
          <!-- LOADING SPINNER -->
          <h1 *ngIf="sending" class="green center">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </h1>
          <!-- LOGIN FORM -->
          <form class="form-horizontal"
                (ngSubmit)="onSubmit()" #registerForm="ngForm">
            <fieldset>
              <legend class="margin-bottom-0">Login</legend>
              <div class="form-group label-floating">
                <label for="inputEmail" class="col-md-2 left control-label">Email</label>

                <div class="col-md-10">
                  <input type="email" class="form-control"
                         id="inputEmail" required
                         [(ngModel)]="email" ngControl="email">
                  <form-errors [errors]="errors['email']"></form-errors>
                </div>
              </div>
              <div class="form-group label-floating">
                <label for="inputPassword" class="col-md-2 left control-label">Password</label>

                <div class="col-md-10">
                  <input type="password" class="form-control"
                         id="inputPassword" required
                         [(ngModel)]="password" ngControl="password">
                  <form-errors [errors]="errors['password']"></form-errors>
                </div>
              </div>
              <button type="submit" class="btn btn-raised green-button">Submit</button>
            </fieldset>
          </form>
          <h4>OR</h4>
          <facebook-connect></facebook-connect>
          <br/>
          <br/>
          <!-- LOGIN LINKS -->
          <login-links [page]="linksPage"></login-links>
        </div>
        <!-- END OF LOGIN FORM -->
      </div>
    </div>
  </div>
</div>
