<!-- Jumbotron -->
<div class="container">
  <div class="row">
    <div class="bs-component">
      <!-- SUCCESS ALERT -->
      <div *ngIf="registrationSuccess || loginSuccess" class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong *ngIf="registrationSuccess">You have now registered. Welcome to Snifme!</strong>
        <strong *ngIf="loginSuccess">Login Successful.</strong>
      </div>
      <!-- JUMBOTRON -->
      <div class="jumbotron">
        <h1 class="center">Home</h1>
        <p class="center">Welcome!</p>
        <button (click)="log.linkClick('New Dog Owner Account Link On Home Page')" [routerLink]="['NewDogOwner']" class="btn btn-info center">Create Dog Owner Account</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Jumbotron -->

