<ul class="ul-no-bullet padding-0">
  <li *ngIf="showRegister">
    <a (click)="log.linkClick('Login-Links Register')" [routerLink]="['Register']" class="btn btn-sm btn-info margin-top-bottom-0">Register</a>
  </li>
  <li *ngIf="showLogin">
    <a (click)="log.linkClick('Login-Links Login')" [routerLink]="['Login']" class="btn btn-sm btn-info margin-top-bottom-0">Login</a>
  </li>
  <li *ngIf="showCancel">
    <a (click)="log.linkClick('Login-Links Cancel')" [routerLink]="['Login']" class="btn btn-sm btn-info margin-top-bottom-0">Cancel</a>
  </li>
  <li *ngIf="showReconfirm">
    <a (click)="log.linkClick('Login-Links Reconfirm')" [routerLink]="['Reconfirm']" class="btn btn-sm btn-info margin-top-bottom-0">Didn't receive confirmation email?</a>
  </li>
  <li *ngIf="showPassword">
    <a (click)="log.linkClick('Login-Links Password Reset')" [routerLink]="['PasswordResetRequest']" class="btn btn-sm btn-info margin-top-bottom-0">Forgot Password?</a>
  </li>
</ul>

