<!-- Navbar -->
<div id="session-check"></div>
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a (click)="log.linkClick('Nav Logo')" class="navbar-brand" [routerLink]="['Index']">Snifme</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul *ngIf="!signedIn" class="nav navbar-nav navbar-right">
        <li><a (click)="log.linkClick('Nav Home')" [routerLink]="['Index']">Home</a></li>
        <li><a (click)="log.linkClick('Nav Login')" [routerLink]="['Login']">Login</a></li>
        <li><a (click)="log.linkClick('Nav Register')" [routerLink]="['Register']">Register</a></li>
      </ul>
      <ul *ngIf="signedIn" class="nav navbar-nav navbar-right">
        <li><a (click)="log.linkClick('Nav Home')" [routerLink]="['Home']">Home</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a (click)="log.linkClick('Nav Settings')" [routerLink]="['Settings']">Settings</a></li>
            <li class="divider"></li>
            <li><a (click)="logout()" [routerLink]="['Login']">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End of Navbar -->
<!-- Routed views go here -->
<router-outlet></router-outlet>

