<!-- FACEBOOK FAIL ALERT -->
<div *ngIf="showFacebookErrorMessage" class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Facebook Login Failed.</strong>
  <p>Please try again soon.</p>
</div>
<!-- LOADING SPINNER -->
<h1 *ngIf="sending" class="green">
  <i class="fa fa-circle-o-notch fa-spin"></i>
</h1>
<!-- FACEBOOK BUTTON -->
<button (click)="facebookLogin()"class="btn btn-raised facebook-button">
  <i class="fa fa-facebook-official"></i>
  | connect with Facebook
</button>


