<div class="container">
  <div class=row>
    <div class="col-md-6 col-md-offset-3">
      <div class="well bs-component">
        <div *ngIf="showErrorMessage" class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Oops there was a problem and password could not be updated. Please try again soon!</strong>
        </div>
        <div *ngIf="!submitted">
          <!-- LOADING SPINNER -->
          <h1 *ngIf="sending" class="green center">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </h1>
          <!-- PASSWORD RESET FORM -->
          <form class="form-horizontal"
                (ngSubmit)="onSubmit()" #registerForm="ngForm">
            <fieldset>
              <legend class="margin-bottom-0">Reset Password</legend>
              <div class="form-group label-floating">
                <label for="inputPassword" class="col-md-5 left control-label">New Password</label>

                <div class="col-md-10">
                  <input type="password" class="form-control"
                         id="inputPassword" required
                         [(ngModel)]="newPassword" ngControl="newPassword">
                  <form-errors [errors]="errors['newPassword']"></form-errors>
                </div>
              </div>
              <div class="form-group label-floating">
                <label for="inputPassword" class="col-md-5 left control-label">Confirm New Password</label>

                <div class="col-md-10">
                  <input type="password" class="form-control"
                         id="inputPassword" required
                         [(ngModel)]="newPasswordConfirmation" ngControl="newPasswordConfirmation">
                  <form-errors [errors]="errors['newPasswordConfirmation']"></form-errors>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <button type="submit" class="btn btn-primary center">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
          <!-- LOGIN LINKS -->
          <login-links [page]="linksPage"></login-links>
        </div>
        <!-- END OF PASSWORD RESET FORM -->
      </div>
    </div>
  </div>
</div>
