<div *ngIf="errors" class="alert alert-danger padding-top-5 padding-bottom-5">
  <ul class="padding-left-0 ul-no-bullet">
    <p>Errors:</p>
    <li *ngFor="#error of errors">
      <p>{{error}}</p>
    </li>
  </ul>
</div>

