<!-- STREET1 -->
<div class="form-group label-floating">
  <label for="inputStreet1" class="col-md-2 left control-label"><span>* </span>Street line 1</label>
  <div class="col-md-10">
    <input type="text" class="form-control" id="inputFirstName" required [(ngModel)]="street1">
    <form-errors [errors]="errors['street1']"></form-errors>
  </div>
</div>
<!-- STREET2 -->
<div class="form-group label-floating">
  <label for="inputStreet2" class="col-md-2 left control-label">Street line 2</label>
  <div class="col-md-10">
    <input type="text" class="form-control" id="inputStreet2" [(ngModel)]="street2">
    <form-errors [errors]="errors['street2']"></form-errors>
  </div>
</div>
<!-- CITY -->
<div class="form-group label-floating">
  <label for="inputCity" class="col-md-2 left control-label"><span>* </span>City</label>
  <div class="col-md-10">
    <input type="text" class="form-control" id="inputCity" required [(ngModel)]="city">
    <form-errors [errors]="errors['city']"></form-errors>
  </div>
</div>
<!-- STATE -->
<div class="form-group label-floating">
  <label for="inputState" class="col-md-2 left control-label"><span>* </span>State/Province</label>
  <div class="col-md-10">
    <input type="text" class="form-control" id="inputState" required [(ngModel)]="state">
    <form-errors [errors]="errors['state']"></form-errors>
  </div>
</div>
<!-- COUNTRY -->
<div class="form-group label-floating">
  <label for="inputCountry" class="col-md-2 left control-label"><span>* </span>Country</label>
  <div class="col-md-10">
    <input type="text" class="form-control" id="inputCountry" required [(ngModel)]="country">
    <form-errors [errors]="errors['country']"></form-errors>
  </div>
</div>
<!-- Zipcode -->
<div class="form-group label-floating">
  <label for="inputZipcode" class="col-md-2 left control-label"><span>* </span>Zipcode</label>
  <div class="col-md-10">
    <input type="text" class="form-control" id="inputZipcode" required [(ngModel)]="zipcode">
    <form-errors [errors]="errors['zipcode']"></form-errors>
  </div>
</div>
<!-- Zipcode Plus 4 -->
<div class="form-group label-floating">
  <label for="inputZipcodePlus" class="col-md-2 left control-label">Zipcode Plus 4 <span class="small"> (optional for US addresses)</span></label>
  <div class="col-md-10">
    <input type="text" class="form-control" id="inputZipcodePlus" [(ngModel)]="zipcodePlus">
    <form-errors [errors]="errors['zipcode']"></form-errors>
  </div>
</div>
